{% extends "base.html" %}
    {% block about %}
    <div class="about-container">

  <div class="about-text">
    <h1>About me</h1>
    <p>
      I am Misha. I create websites and study programming. I love modern technologies and strive to improve my skills every day. This site is my space for news, where I share interesting and up-to-date information.

If you want to contact me or collaborate, you can use the contact form or email.
    </p>
    <p>  
      If you want it a bit more formal or casual, just let me know!
    </p>
  </div>
</div>

    {% endblock %}