    {% extends "base.html" %}
    {% block contact %}
   <div class="leftco">
        <p class="conp">ერთად ვისაუბროთ რაიმე<br><span class="gamoyo">საინტერესოზე</span> </p>
        <p class="conemail"><img class="conticon" src="/static/images/conticon.png" alt="conemail">tirkiamisha@gmail.com</p>
        <div class="num"><p class="number"><img class="numb" src="/static/images/call.png" alt="num">+995 551 414 200</p></div>
        <p class="loca"><img class="location" src="/static/images/locate.png" alt="location">Poti</p>
    </div>

    <div class="rightside">
            <input type="text" placeholder="შენი სახელი">
            <input type="email" name="" id="" placeholder="შენი ელფოსტა">
            <input type="text" placeholder="წერილი">
            <button class="send"> <img class="flyi" src="/static/images/fly.png" alt="fly">წერილის გაგზავნა</button>
    </div>
{% endblock %}